<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <title>Admin dashboard</title>
    <link rel="icon" type="images/png" href="image/logo_2.svg">
    <link rel="stylesheet" href="admin.css">
</head>
<body>
    <div class="main-container">
       <div class="left-container">
          <div class="content">
                <div class="dashboard">
                  <h1>Dashboard</h1>
                </div>
                <div class="date">
                    <i class="fas fa-calendar-day"></i>
                    <% let month = date.getMonth() + 1 %>
                    <% let realDate = date.getDate() + '/' + month + '/' + date.getFullYear() %>
                    <!-- <span>Wednesday, 04.08.21</span> -->
                    <span><%= realDate %></span>
                </div>

                <div class="hospital-details">
                    <h4><%= hospital.name %></h4>
                    <h5><%= hospital.regNo %></h5>
                    <span>
                      <%= hospital.address %>
                    </span>
                </div>
                <div class="patients">
                    <h1><%= patients.length %></h1>
                    <span>Patients</span>
                </div>
                <div class="notification-bar">
                    <div><h3>Appointments Notifications</h3></div>
                    <div class="notif-content">
                        <% if (locals.appointments.length !== 0) { %>
                          <% let reverseApp = [] %>
                          <% let j = appointments.length - 1 %>
                          <% for (let i of Object.keys(appointments)) { %>
                              <% reverseApp[i] = appointments[j] %>
                              <% j -= 1 %>
                          <% } %>

                          <% reverseApp.map(appointment => { %>
                            <h4><%= appointment.patientName %>, <%= appointment.details %>, <%= appointment.day %>, <%= appointment.from %> : <%= appointment.to %></h4>
                          <% }) %>

                        <% } else { %>
                          <h4>No appointments booked yet</h4>
                        <% } %>
                        <!-- <h4>notif1</h4>
                        <h4>notif2</h4>
                        <h4>notif3</h4> -->
                    </div>
                </div>
                <div class="medical-report">

                    <a href="/hospital-postReport.html" class="general-ico">
                      <div>
                        <i class="fas fa-plus"></i>
                        <span>Create medical reports</span>
                      </div>
                    </a>
                    <!-- <i class="fas fa-plus"></i>
                    <a href="/hospital-postReport.html">Create medical reports</a> -->

                    <a href="/hospital-prescription.html" class="general-ico right">
                      <div>
                        <i class="fas fa-plus"></i>
                        <span>Send Prescription</span>
                      </div>
                    </a>

                    <!-- <i class="fas fa-plus"></i>
                    <a href="/hospital-prescription.html">Send Prescription</a> -->

                    <a href="/hospital/logout" class="general-ico right">
                      <div>
                        <i class="fas fa-sign-out-alt"></i>
                        <span>log out</span>
                      </div>
                    </a>
                </div>
            </div>
       </div>
       <div class="right-container">
         <form method="POST">
            <div class="search-box">
                <input type="text" class="search" placeholder="search" required name="patientRef">
                <div class="button"><input type="submit" class="fas fa-search" value="search"></i></div>
            </div>
          </form>
            <a href="/chat">
            <div class="live-chat">
                <i class="far fa-comment"></i>
                <span>Chat</span>
            </div>
            </a>
       </div>
    </div>
</body>
</html>
